build/

# Xcode
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate
**/UserInterfaceState.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.html
fastlane/test_output/
fastlane/readme.md
fastlane/README.md

# macOS
.DS_Store

# Secrets / local configs
*.env
.env
*.xcconfig.local
*.p8
*.cer
*.p12
*.mobileprovision
